body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

.project {
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-bottom: 10px;
}

#contact-form input {
    margin-bottom: 20px;
}