body {
    font-family: Arial, sans-serif;
    color: green;
}

header {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}